<!DOCTYPE html>
<html lang="en">
<head>
<title>My HTML Page</title>
<link rel="stylesheet" href="/style.css"> <!-- This link is only necessary if you’re using an external stylesheet -->
<style>
   /* These style tags are only necessary if you’re adding internal CSS */
</style>
</head>
<body>
<h1>Nunc Velit Leo</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum eget nibh vitae eleifend. Integer vulputate velit gravida tellus tristique condimentum. Vivamus auctor nisi sit amet mattis luctus. Maecenas nibh nisi, dignissim sed eleifend sit amet, sagittis sed velit. Etiam bibendum, sapien sit amet consequat aliquet, libero mi sodales leo, a viverra ligula ante vel ex. Curabitur lacinia risus sit amet facilisis feugiat. Vivamus posuere quis purus in placerat. Nulla quis porttitor nisl. Nulla facilisi. Cras neque mauris, efficitur vel tellus commodo, aliquet cursus tortor.</p>
</body>
</html>